build/
.lock-wscript
.waf*
.lock-wafbuild
.version
Makefile.in
aclocal.m4
autom4te.cache/
autoscan.log
compile
config.guess
config.h.in
config.sub
configure
depcomp
install-sh
ltmain.sh
lysdr-1.0.0-dirty.tar.gz
missing

